name: Unity xref maps

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 5 * * 0' # At 05:00 on Sunday

jobs:
  # Generate the xref maps
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.201' # Latest on 2020-03-29

      - name: Install DocFX
        run: choco install -y docfx

      - name: Run
        run: |
          cd UnityXrefMaps
          dotnet run

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: _site
          path: _site

  # Deploy the generated xref maps to the gh-pages branch
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download site artifact
        uses: actions/download-artifact@v1
        with:
          name: _site

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.AccessToken }}
          BRANCH: gh-pages
          FOLDER: _site